.column
  .title
    Software Configuration Patterns for effective collaboration and high frequency integration
  .description

  = link_to "SCM Patterns Book", "http://www.scmpatterns.com/"
  .image-width70pct
    = image_tag "/images/solutions/version-control-collaboration/SCM-patterns-effective-collaboration-high-frequency-integration.png", class: "margin-top10"
  = link_to "Register here", "https://gitlab.zoom.us/meeting/register/tJIldOiorDwuHdaf73xQx6m08ogUsDVcw0Eh", class: "read-more"
